[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
default-run = "app"
edition = "2021"
rust-version = "1.59"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2.1", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2.4", features = ["clipboard-all", "fs-write-file", "global-shortcut-all", "notification-all", "shell-open", "window-all", "windows7-compat"] }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", version = "0.1.0" }
once_cell = "1.17.1"
enigo = "0.0.14"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.24"
objc = "0.2.7"

[target.'cfg(target_os = "windows")'.dependencies]
window-shadows = "0.2.1"

[target.'cfg(target_os = "linux")'.dependencies]
window-shadows = "0.2.1"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
