npm-debug.log
node_modules/
dist/
tmp/
release/
yarn-error.log
npm-error.log
.DS_Store
*.json-e
*.js-e

.vscode
.idea
.eslintcache
.yarn
.yarnrc.yml
/test-results/
/playwright-report/
/playwright/.cache/
