#__yetone-openai-translator-popup-card input:not([type]),
#__yetone-openai-translator-popup-card input[type=color],
#__yetone-openai-translator-popup-card input[type=date],
#__yetone-openai-translator-popup-card input[type=datetime-local],
#__yetone-openai-translator-popup-card input[type=datetime],
#__yetone-openai-translator-popup-card input[type=email],
#__yetone-openai-translator-popup-card input[type=month],
#__yetone-openai-translator-popup-card input[type=number],
#__yetone-openai-translator-popup-card input[type=password],
#__yetone-openai-translator-popup-card input[type=search],
#__yetone-openai-translator-popup-card input[type=tel],
#__yetone-openai-translator-popup-card input[type=text],
#__yetone-openai-translator-popup-card input[type=time],
#__yetone-openai-translator-popup-card input[type=url],
#__yetone-openai-translator-popup-card input[type=week],
#__yetone-openai-translator-popup-card select {
    background-color: initial;
    border: initial;
    border-radius: initial;
    color: initial;
    font-size: initial;
    max-width: initial;
    min-height: initial;
    padding: initial;
    vertical-align: initial;
}

#__yetone-openai-translator-popup-card input[role=combobox] {
    width: 0px;
}
